<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css", href="/style.css" />
        <link rel="icon" type="image/png" href="/icon.png" size="32x32" />
        <title>{% block title %}Index{% endblock title %} | Daily Piano Exercise</title>
    </head>
    <body>
        <header>
          {% block header %} {% endblock header %}
        </header>
        <main>
            {% block main %} {% endblock main %}
        </main>
        <footer>
            <span>{% include "license.html" %}</span> <span><a href="https://www.selfawaresoup.com">Esther Weidauer</a></span>
        </footer>
    </body>
</html>
