<% content_for :title do %>
  Index
<% end %>

<% content_for :header do %>
  <h1>Daily Piano Exercise</h1>

<% end %>

<% content_for :main do %>
  <section class="index-section">
    <h2>Latest</h2>
    <p>
      <%= erb :exercise_summary, locals: {exercise: latest_exercise} %>
    </p>
  </section>

  <section class="index-section">
    <h2>Recent</h2>
    <ul class="recent">
      <% recent.each do |exercise| %>
        <li>
          <%= erb :exercise_summary, locals: {exercise: exercise} %>
        </li>
      <% end %>
    </ul>
  </section>
  
  <section class="index-section">
    <h2>Changelog</h2>
    <table class="changelog">
      <tbody>
        <tr><th>2020-12-29</th><td><ul>
          <li>Moved accidentals for scales to key signatures</li>
        </ul>
        <tr><th>2020-12-27</th><td><ul>
          <li>Launch!</li>
          <li>Major, ninor and harmonic minor scales</li>
          <li>Major and minor broken chords</li>
        </ul>
        </td></tr>
      </tbody>
    </table>
  </section>

<% end %>
