<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css", href="/style.css" />
        <link rel="icon" type="image/png" href="/icon.png" size="32x32" />
        <title><%= yield_content :title %> | Daily Piano Exercise</title>
    </head>
    <body>
        <header>
            <%= yield_content :header %>
        </header>
        <main>
            <%= yield_content :main %>
        </main>
        <footer>
            <span><%= erb :license %></span> <span><a href="https://www.aesthr.com">Esther Weidauer</a></span>
        </footer>
    </body>
</html>